{{! <h1>Profile Test Page</h1> }}
<section class="userMap">
  <div class="test">
    <div class="welcomeText">
      <h1>Welcome {{theUsername}}</h1>
    </div>
  </div>
    <form class="loginFields" action="/save-new-loc" method="POST">
      <input type="text" name="newName" id="newname" />
      <input type="text" name="newLongitude" id="newlongitude" />
      <input type="text" name="newLatitude" id="newlatitude" />
      <button type="submit">Save New Location</button>
    </form>
  <div>
    <input type="text" name="theLongitude" id="longitude" value="{{myLongitude}}" style="
    display: none;" />
    <input type="text" name="theLatitude" id="latitude" value="{{myLatitude}}" style="
    display: none;" />
    {{#each myLocations}}
      <input type="text" id="loc-longitude-{{@index}}" value="{{this.longitude}}" style="display: none;" />
      <input type="text" id="loc-latitude-{{@index}}" value="{{this.latitude}}" style="display: none;" />
    {{/each}}
    <div id="map" style="width: 90%; height: 600px;left: 80px;"></div>
    <script src="javascripts/mapScript.js"></script>
  </div>
</section>
<section class="locTable">
  <br>
  <div class="welcomeText">
    <h2>List of your destinations</h2>
  </div>
  <div>
    <table class="destination-table" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th><b>Location</b></th>
          <th><b>Longitude</b></th>
          <th><b>Latitude</b></th>
          <th><b>Distance: Miles/Kilometers</b></th>
        </tr>
      </thead>
      <tbody>
        {{#each myLocations}}
        <tr>
          <td class="locationField">{{name}}</td>
          <td>{{this.longitude}}</td>
          <td>{{this.latitude}}</td>
          <td>to be calculated</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</section>



{{!-- window.addEventListener("load", () => {
  document.getElementById("fetch-all").addEventListener("click", function (event) {
    axios.get("http://localhost:8000/characters").then((response) => {
      let respArr = response.data;
      console.log("respArr", respArr);
      respArr.forEach((character) => {
        let newElement = `
        <div class="character-info">
        <div class="name">Character Name: ${character.name}</div>
        <div class="occupation">Character Occupation: ${character.occupation}</div>
        <div class="cartoon">Is a Cartoon?: ${character.cartoon}</div>
        <div class="weapon">Character Weapon: ${character.weapon}</div>
      </div>
        `; --}}